header{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #00296b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 5% auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}

.formContacto {
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input{
    width: 100%;
    padding: 0.8em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 105%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: #00296b;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #001f4d;
}

.buttonMenuContactos{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #00296b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

a{
    text-decoration: none;
}

