h2 {
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    padding: 20px;
    background-color: darkblue;
    border-radius: 20px;
    box-shadow: 0 0 50px darkblue;
    color: aliceblue;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #00296b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    margin: 1%;
    margin-top: auto;
    background-color: #00296b;
    border-radius: 3px;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration-line: none;
}

section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cd9564;
    margin: 10%;
    text-align: center;
    margin-top: 2%;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
    margin-top: 0;
}