body {
    background-color: #003f88;
}

header {
    color: white;
    text-align: center;
    align-items: center;
    margin: 1%;
    background-color: #00296b;
}

input {
    max-height: auto;
    max-width: auto;
    background-color: #00296b;
    color: white;
    float: right;
    margin: 1%;
}