* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    padding: 20px;
    background-color: darkblue;
    border-radius: 20px;
    box-shadow: 0 0 50px darkblue;
    color: aliceblue;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
    margin: 20px auto;
}

.usuarios {
    margin-bottom: 20px;
    color: aliceblue;
}

.usuarios label {
    display: block;
    margin-bottom: 5px;
}

.usuarios input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.h-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.imgLogin {
    width: 220px;
    height: 220px;
}