body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #00296b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: 00296b;
}

#lista-pendientes {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario-pendiente {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

#nuevo-pendiente {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#prioridad {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #00296b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkblue;
}

div {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div:last-child {
    margin-bottom: 0;
}

.eliminar-pendiente {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eliminar-pendiente:hover {
    background-color: #c82333;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #00296b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    text-decoration-line: none;
}